<div *ngIf="cartItem.count > 0" class="row w-100 rounded-top border">
    <div class="col-1 border-end">
    </div>
    <div class="col-2 border-end text-center">
        image
    </div>
    <div class="col-4 border-end text-center">
        <b>Title & Description</b>
    </div>
    <div class="col-1 border-end text-center">
        <b>Rating</b>
    </div>
    <div class="col-2 border-end text-center">
    </div>
    <div class="col-1 border-end text-center">
        <b>Price Item</b>
    </div>
    <div class="col-1 text-center">
        <b>SubTotal</b>
    </div>
</div>
<div *ngIf="cartItem.count > 0" class="row mb-2 w-100 rounded-bottom border">
    <div class="col-1 border-end text-center">
        <p>{{ rowNum }}</p>
    </div>
    <div class="col-2 border-end text-center">
        <app-image [sourceImg]="cartItem.item.image" [title]="cartItem.item.title" [maxHeight]="20"></app-image>
    </div>
    <div class="col-4 border-end text-center">
        <p>{{ cartItem.item.title }}</p>
    </div>
    <div class="col-1 border-end p-2 text-center">
        <app-rating [rate]="cartItem.item.rating.rate" [countRate]="cartItem.item.rating.count"></app-rating>
    </div>
    <div class="col-2 border-end p-2">
        <app-inc-button [id]="cartItem.id" [value]="cartItem.count" (decValueEvent)="decCountItem()" (incValueEvent)="incCountItem()"></app-inc-button>
    </div>
    <div class="col-1 border-end text-center">
        <app-price [price]="cartItem.item.price"></app-price>
    </div>
    <div class="col-1 text-center">
        <app-price [price]="cartItem.item.price * cartItem.count"></app-price>
    </div>
</div>