<div *ngIf="cartItem.count > 0" class="row w-100 rounded-top border">
    <div class="col-1 border-end">
    </div>
    <div class="col-2 border-end text-center">
        image
    </div>
    <div class="col-5 border-end text-center">
        <b>Title & Description</b>
    </div>
    <div class="col-1 border-end text-center">
        <b>Rating</b>
    </div>
    <div class="col-1 border-end text-center">
    </div>
    <div class="col-1 border-end text-center">
        <b>Price Item</b>
    </div>
    <div class="col-1 text-center">
        <b>SubTotal</b>
    </div>
</div>
<div *ngIf="cartItem.count > 0" class="row mb-2 w-100 rounded-bottom border">
    <div class="col-1 border-end text-center">
        <p>{{ rowNum }}</p>
    </div>
    <div class="col-2 border-end text-center">
        image
    </div>
    <div class="col-5 border-end text-center">
        <p>{{ cartItem.item.title }}</p>
    </div>
    <div class="col-1 border-end p-2 text-center">
        <span>
            <i class="bi bi-star-fill text-warning"></i>
            <b>{{ cartItem.item.rating.rate }}</b> ({{ cartItem.item.rating.count }})
        </span>
    </div>
    <div class="col-1 border-end p-2">
        <div class="list-group list-group-horizontal">
            <button type="button" class="btn border border-0" (click)="downCountItem(cartItem.id)">
                <i class="bi bi-dash-square-fill w-100 h-100"></i>
            </button>
            <span class="p-1">{{ cartItem.count }}</span>
            <button type="button" class="btn border border-0" (click)="upCountItem(cartItem.id)">
                <i class="bi bi-plus-square-fill w-100 h-100"></i>
            </button>
        </div>
    </div>
    <div class="col-1 border-end text-center">
        {{ cartItem.item.price | currency:'USD':'symbol':'1.2-2' }}
    </div>
    <div class="col-1 text-center">
        {{ cartItem.item.price * cartItem.count | currency:'USD':'symbol':'1.2-2' }}
    </div>
</div>