<div class="col-md-4 col-12 p-2" *ngIf="item">
    <div class="container h-100 border rounded">
        <div class="row h-100">
            <div class="col-md-4 col-4 border-end d-flex flex-column align-items-center justify-content-center">
                <div class="row flex-fill d-flex align-items-center">
                    <div class="col">
                        <div class="p-2">
                            <img [src]="item.image" class="img-fluid rounded-start" style="min-height: 50px; max-height: 150px;" [alt]="item.title">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-2 text-center">
                        <span>
                            <i class="bi bi-star-fill text-warning"></i>
                            <b>{{ item.rating.rate }}</b> ({{ item.rating.count }})
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-8 d-flex flex-column">
                <div class="row p-2">
                    <p class="fs-6"><b>{{ item.title }}</b></p>                    
                </div>
                <div class="row p-2">
                    <div class="col">
                        <p class="fst-italic m-0">Description:</p>
                        <p class="text-truncate">{{ item.description }}</p>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col">
                        <p class="fst-italic m-0">Category:</p>
                        <p class="text-truncate">{{ item.category }}</p>
                    </div>
                </div>
                <div class="row mt-auto p-2">
                    <div class="col-8 d-flex flex-column justify-content-center">
                        <span class="fs-5"><b>Price: </b>{{ item.price | currency:'USD':'symbol':'1.2-2' }}</span>
                    </div>
                    <div class="col-4 d-grid d-md-flex justify-content-md-end">
                        <button class="btn btn-primary" type="button" (click)="buyItem(item)">
                            <i class="bi bi-bag-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>